body{
  margin: 0px;
  background-color:rgba(176, 236, 243, 0.32)
}
header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 1rem;
}

h1 {
  margin: 130px;
  padding-left: 200px;
  font-size: 90px;
  color: #fff;
  text-decoration: wavy;
}
a{
  text-decoration: none;
}
input[type="search"]::placeholder {
  color: #101010;
}

a img {
  height: 38px;
  margin-left: 1rem;
}
.rightside{
  margin-top: 20px;
  margin-right: 40px;
  display: flex;
  line-height: 130px;
}
input[type="search"] {
  margin-top: 33px;
  width: 20rem;
  height: 40px;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-image: url('../pictures/search-icon.png');
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 1.5rem;
}
section#first{
  line-height: 30px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  box-shadow:2px 1px 3px #333;
}


#middle {
  display: flex;
  justify-content: center;
  margin-top: 3px;
  margin-left: 100px;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.product-image img {
  width: 100%;
  max-width: 1300px;
  height: auto;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  color: #008000;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-button {
  background-color: #008000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 80px;
}

.product-button:hover {
  background-color: #000000;
}
#whey,#creatine{
  width: 1100px;
  height: 800px;
}
