.login-box {
    width: 300px;
    margin: 100px auto;
    background: #f7f7f7;
    padding: 20px;
  }
  
  .login-box h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .login-box label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  .login-box input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .login-box input[type="submit"] {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    background: #45a049;
  }
  