<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/home.css')}}">
    <script src="javascript.js" defer></script>
</head>
<body>
    <header>
        <a href="home.html">
            <h1>Protein Cartel</h1>
        </a>
        <div class="rightside">
            <input type="search" placeholder="Search...">
            <a href="login.html">
              <img src="../static/pictures/login.png" alt="login button">
            </a>
            <a href="cart.html">
                <img src="../static/pictures/cart.png" alt="cart button">
            </a>
        </div>
    </header>
    <section id="first"> Get Your Supplement at the lowest price in Nepal | <b>Order Now</b></section>

    <section id="middle">
        <div class="product-container">
          <div class="product-card">
            <div class="product-image">
              <img src="../static/pictures/creatine3.jpeg" alt="Creatine images" id="creatine">
            </div>
            <div class="product-details">
              <h2 class="product-name">Optimum Nutrition Creatine</h2>
              <h3 class="product-price">NPR.3500</h3>
              <p class="product-description">On Creatine is a brand of creatine supplements that is marketed by Optimum Nutrition, a well-known company in the sports nutrition industry.On Creatine is positioned as a high-quality, pure, and effective source of creatine monohydrate. The company claims that their product is made from the highest-quality ingredients, undergoes rigorous testing to ensure purity and potency, and is manufactured in a GMP-certified facility.</p>
              <button class="product-button">Add to Cart</button>
            </div>
          </div>
          
          <div class="product-card">
            <div class="product-image">
              <img src="../static/pictures/whey-protein-2.jpeg" alt="Whey Protein images" id="whey">
            </div>
            <div class="product-details">
              <h2 class="product-name">Optimum Nutrition Whey Protein</h2>
              <h3 class="product-price">NPR.18500</h3>
              <p class="product-description">Optimum Nutrition is a leading brand in the sports nutrition industry, offering a wide range of high-quality supplements to support athletes and fitness enthusiasts in achieving their goals. One of the most popular products from Optimum Nutrition is their whey protein powder. Optimum Nutrition Whey Protein is made from 100% whey protein isolates, which are the purest form of whey protein available. This means that each serving of Optimum Nutrition Whey Protein provides a high concentration of protein with minimal amounts of fat, lactose, and other impurities. In addition to being a rich source of protein, Optimum Nutrition Whey Protein is also high in amino acids, which are the building blocks of muscle tissue. This makes it an ideal supplement for anyone looking to increase muscle mass, strength, and endurance.</p>
              <button class="product-button">Add to Cart</button>
            </div>
          </div>
        </div>
      </section>
</body>    
</html>