<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../final project/index.css">
	<script src="index.js" defer></script>
</head>
<body>
    <header>
        <a href="index.html">
            <h1>Protein Cartel</h1>
        </a>
        <div class="rightside">
            <input type="search" placeholder="Search...">
            <a href="login.html">
              <img src="/final project/pictures/login.png" alt="login button">
            </a>
            <a href="cart.html">
                <img src="../final project/pictures/cart.png" alt="cart button">
            </a>
        </div>
    </header>
    <section id="first"> Get Your Supplement at the lowest price in Nepal | <b>Order Now</b></section>

    <section id="middle">
        <div class="product-container">
          <div class="product-card">
            <div class="product-image">
              <img id="creatine" src="../final project/pictures/creatine3.jpeg" alt="Creatine images" >
			  <div class="nutrition-tooltip">
				<h3>Nutrition Facts</h3>
				<p>Calories: 0</p>
				<p>Protein: 0g</p>
				<p>Fat: 0g</p>
				<p>Carbs: 0g</p>
				<p>Creatine monohydrate 5g</p>
				<p id="content">Take your creatine before workout to</p> <p id="contentTwo">enchace your prefomance</p>
			  </div>
			</div>
            <div class="product-details">
              <h2 class="product-name">Optimum Nutrition Creatine</h2>
              <h3 class="product-price">NPR.3500</h3>
              <p class="product-description">On Creatine is a brand of creatine supplements that is marketed by Optimum Nutrition, a well-known company in the sports nutrition industry.On Creatine is positioned as a high-quality, pure, and effective source of creatine monohydrate. The company claims that their product is made from the highest-quality ingredients, undergoes rigorous testing to ensure purity and potency, and is manufactured in a GMP-certified facility.</p>
              <button class="product-button">Add to Cart</button>
            </div>
          </div>
          <div class="product-card">
            <div class="product-image">
              <img id="whey" src="../final project/pictures/whey-protein-2.jpeg" alt="Whey Protein images" >
			  <div class="nutrition-tooltip tooltip-whey">
				<h3>Nutrition Facts</h3>
				<p>Calories: 120</p>
				<p>Protein: 24g</p>
				<p>Fat: 1.5g</p>
				<p>Carbs: 3g</p>
				<p>Whey protein isolate 30g</p>
				<p id="content">Take your whey protein after workout to maximize your gains</p>
			  </div>
			</div>
            <div class="product-details">
              <h2 class="product-name">Optimum Nutrition Whey Protein</h2>
              <h3 class="product-price">NPR.18500</h3>
              <p class="product-description">Optimum Nutrition is a leading brand in the sports nutrition industry, offering a wide range of high-quality supplements to support athletes and fitness enthusiasts in achieving their goals. One of the most popular products from Optimum Nutrition is their whey protein powder. Optimum Nutrition Whey Protein is made from 100% whey protein isolates, which are the purest form of whey protein available. This means that each serving of Optimum Nutrition Whey Protein provides a high concentration of protein with minimal amounts of fat, lactose, and other impurities. In addition to being a rich source of protein, Optimum Nutrition Whey Protein is also high in amino acids, which are the building blocks of muscle tissue. This makes it an ideal supplement for anyone looking to increase muscle mass, strength, and endurance.</p>
              <button class="product-button">Add to Cart</button>
            </div>
          </div>
        </div>
      </section>
	  <section id="botom">
		<div class="product-containerbottom">
			<div class="product-cardbottom">
			  <div class="product-imagebottom">
				<img src="../final project/pictures/fishoil.jpeg" alt="Fish oil images">
			  </div>
			  <div class="product-detailsbottom">
				<h2 class="product-namebottom">Fish Oil</h2>
				<h3 class="product-pricebottom">NPR.3500</h3>
				<p class="product-descriptionbottom">Fish oil is a popular dietary supplement that is rich in omega-3 fatty acids. These fatty acids are essential nutrients that provide numerous health benefits. Research has shown that fish oil may help to reduce inflammation, lower blood pressure, improve heart health, and support brain function. The omega-3 fatty acids found in fish oil are also believed to have a positive impact on mood and mental health, potentially reducing symptoms of depression and anxiety. In addition, fish oil may also aid in weight loss, improve eye health, and reduce the risk of certain types of cancer. While fish oil can be obtained through the diet by consuming fatty fish such as salmon or tuna, many people choose to take fish oil supplements to ensure they are getting enough of this important nutrient.</p>
				<button class="product-buttonbottom">Add to Cart</button>
			  </div>
			</div>
			<div class="product-cardbottom">
			  <div class="product-imagebottom">
				<img src="../final project/pictures/mass-gainer.jpeg" alt="Mass Gainer images">
			  </div>
			  <div class="product-detailsbottom">
				<h2 class="product-namebottom">Dymatize Super Mass Gainer Protein Powder</h2>
				<h3 class="product-pricebottom">NPR.15500</h3>
				<p class="product-descriptionbottom">Dymatize Super Mass Gainer Protein Powder is a high-calorie mass gainer supplement that is designed to help athletes and bodybuilders gain lean muscle mass and size. Each serving of Dymatize Super Mass Gainer Protein Powder provides 52 grams of protein, 10 grams of BCAAs, and 5 grams of creatine, making it an excellent source of essential amino acids and other nutrients for muscle growth and recovery. Dymatize Super Mass Gainer Protein Powder is also rich in carbohydrates, with each serving providing 252 grams of complex carbohydrates and 17 grams of sugar. This makes it an ideal supplement for anyone looking to increase their caloric intake and support their muscle-building goals.</p>
				<button class="product-buttonbottom">Add to Cart</button>
			  </div>
			</div>
			<div class="product-cardbottom">
			  <div class="product-imagebottom">
				<img src="../final project/pictures/bcaa.jpeg" alt="Amino Acid images">
			  </div>
			  <div class="product-detailsbottom">
				<h2 class="product-namebottom">Scivation Xtend BCAA Powder</h2>
				<h3 class="product-pricebottom">NPR.4500</h3>
				<p class="product-descriptionbottom">BCAA powder is a popular supplement among athletes and fitness enthusiasts. It contains three essential amino acids, namely leucine, isoleucine, and valine, that the body cannot produce on its own and must be obtained through the diet or supplements. BCAA powder is believed to enhance muscle growth and recovery, reduce muscle soreness and fatigue, and improve exercise performance. Studies have also suggested that BCAA powder may aid in weight loss by increasing metabolic rate and reducing appetite. Additionally, BCAA powder may help prevent muscle loss during periods of fasting or calorie restriction. BCAA powder can be taken before, during, or after a workout, and is available in various flavors and forms, including capsules, tablets, and powders.</p>
				<button class="product-buttonbottom">Add to Cart</button>
	  </section>	
	  <footer>
		<div class="container">
			<div class="contact-info">
				<h3>Contact Us</h3>
				<p><i class="fas fa-map-marker-alt"></i>Baneshwor, Kathmandu</p>
				<p><i class="fas fa-phone"></i>(+977) 01-4272402</p>
				<p><i class="fas fa-envelope"></i>proteincartel@gmail.com</p>
			</div>
			<div class="social-media">
				<h3>Follow Us</h3>
				<a href="https://www.instagram.com/" target="_blank">
					<img src="/final project/pictures/instagramicon.png" alt="login button">
				</a>
				<a href="https://www.facebook.com/" target="_blank">
					<img src="/final project/pictures/fb.png" alt="login button">
				</a>
		
			</div>
		</div>
		<div class="bottom-bar">
			<p>&copy; 2023 proteincartel@gmail.com. All Rights Reserved.</p>
		</div>
	</footer>
</body>	
</html>